snippet imp
import $1 from '$2'
endsnippet

snippet imp{
import { $1 } from '$2'

snippet impr
import React, { Component, $1 } from 'react'
endsnippet

snippet imprn
import { View, $1 } from 'react-native'
endsnippet
